# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# PHP
/vendor/
composer.phar

# Tools
/tools/php/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Configuration secrets
/config.php

# SQLite Local Database
/database/

# Development startup script
/start.ps1
